<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Nutrition</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/animated.css}" rel="stylesheet">
</head>
<body style="text-align: center">
<div>
    <div style="text-align: left">

        <div class="alex" onclick="animatedAlexHide()">
            <img th:src="@{/image/alex.png}">
        </div>

        <div class="showAlex" onclick="animatedAlexShow()">
            <div class="circle"></div>
            <div class="circle center"></div>
            <div class="circle"></div>
        </div>

    </div>




    <div class="elementSettings">
        <form action="#" th:action="@{/ui/nutrition/add}" th:object="${nutrition}"
              method="POST">

            <h1>Add Nutrition</h1>

            <table class="edit">
                <tr>
                    <td><label>Feed</label></td>
                    <td>
                        <div class="input">
                            <select th:field="*{feed}" onclick="checkedInput()" required>
                                <option th:each="feedListId: ${feedListId}"
                                        th:value="${feedListId.id}" th:text="${feedListId.kind}">
                                </option>
                            </select>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td><label>FeedingTime</label></td>
                    <td>
                        <div class="input">
                            <select multiple th:field="*{feedingTime}" onclick="checkedInput()" required>
                                <option value="Test">Test</option>
                            </select>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Season</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{season}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

            </table>


            <br>
            <br>

            <div class="general">
                <button type="submit"> &#10004;</button>
            </div>

        </form>

        <br><br>

        <div class="ButtonBack">
            <a th:href="@{/ui/nutrition/get/all}" href="#">Back</a>
        </div>

    </div>
</div>
</body>

<script>
    let alex = document.querySelector(".alex");
    let showAlex = document.querySelector(".showAlex");

    function animatedAlexHide(){
        alex.style.animation = "1s linear 0s 1 forwards hiddenAlex";
        showAlex.style.animation = "1s linear 0s 1 forwards visiblePlatform";
    }

    function animatedAlexShow(){
        showAlex.style.animation = "1s linear 0s 1 forwards hiddenPlatform";
        alex.style.animation = "1s linear 0s 1 forwards visibleAlex";
        setTimeout(addAnimatedAlex, 1000);
    }

    function addAnimatedAlex() {
        alex.style.animation = "1s linear 0s infinite alternate slidein";
    }

</script>


</html>
