<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animal List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/animated.css}" rel="stylesheet">
</head>
<body>
<div style="text-align: left">

    <div class="alex" onclick="animatedAlexHide()">
        <img src="/image/alex.png">
    </div>

    <div class="showAlex" onclick="animatedAlexShow()">
        <div class="circle"></div>
        <div class="circle center"></div>
        <div class="circle"></div>
    </div>

</div>

<div class="general">
    <a th:href = "@{/ui/nutrition/showNewForm}">
        &#10010;
    </a>
</div>

<table class="list">
    <thead>

    <tr>
            <th scope="col">Id</th>
            <th scope="col">Feed</th>
            <th scope="col">FeedingTime</th>
            <th scope="col">Season</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col" colspan="2">OPTIONS</th>
        </tr>


        </thead>

        <tbody>
        <tr th:each="nutrition: ${nutritionList}">
            <td th:text="${nutrition.id}"></td>
            <td th:text="${nutrition.feed.kind}"></td>
            <td>
                <ol>
                    <li th:each="feedingTimeList: ${nutrition.feedingTime}">
                        <span th:text="${feedingTimeList}"></span>
                    </li>
                </ol>
            </td>
            <td th:text="${nutrition.season}"></td>
            <td th:text="${nutrition.created_at}"></td>
            <td th:text="${nutrition.modified_at}"></td>
            <td class="options">
                <a  th:href="@{/ui/nutrition/delete/{id}(id=${nutrition.id})}">
                    <button class="first">Delete</button>
                </a>
                <a th:href="@{/ui/nutrition/showUpdateForm/{id}(id=${nutrition.id})}">
                    <button class="last">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>

</body>
<script>
    let alex = document.querySelector(".alex");
    let showAlex = document.querySelector(".showAlex");

    function animatedAlexHide(){
        alex.style.animation = "1s linear 0s 1 forwards hiddenAlex";
        showAlex.style.animation = "1s linear 0s 1 forwards visiblePlatform";
    }

    function animatedAlexShow(){
        showAlex.style.animation = "1s linear 0s 1 forwards hiddenPlatform";
        alex.style.animation = "1s linear 0s 1 forwards visibleAlex";
        setTimeout(addAnimatedAlex, 1000);
    }

    function addAnimatedAlex() {
        alex.style.animation = "1s linear 0s infinite alternate slidein";
    }

</script>


</html>