<!--
  ~ /**
  ~  * Created by IntelliJ IDEA.
  ~  * C:/Users/Acer/Desktop/uchoba/sportinfrastructure2/src/main/resources/templates/update_sportClub.html
  ~  *
  ~  * @Autor: SoniaKK
  ~  * @DateTime: 06.04.21, 12:04
  ~  * @Version update_sportClub.html : 1.0
  ~  */
  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coach Management System</title>
    </head>
<body>
<div class="container">
    <div class="updateText">COACH MANAGEMENT SYSTEM</div>
    <hr>

<div class="updateForm">
    <form action="#" th:action="@{/ui/feeds/add}" th:object="${feed}"
          method="POST">
        <!--<label>ID</label>
        <input type="text" th:field="*{id}" placeholder=" ID" required >-->
        <label>Kind</label>
        <input id="nameInput" type="text" th:field="*{name}" placeholder=" Name" required>
        <label>Date Of Arrival</label>
        <input type="date" th:field="*{dateOfArrival}" placeholder="date" required>
        <br><br>
        <label>Amount</label>
        <input type="number" th:field="*{amountOfFeed}" placeholder="amount" required>
        <label>Price</label>
        <input type="number" th:field="*{price}" placeholder="price" required>

        <label>Provider</label>
        <select th:field="*{providers}">
            <option th:each="s : ${providers}" th:value="${s.id}" th:text="${s.name}" />
        </select>
        <br><br>

        <button type="submit" class="btn1" >DONE</button>
    </form>
</div>
    <br><br><br><br><br><br><br><br><br><br>
    <hr>

    <a th:href = "@{/coaches/getAll}"> Back to Coaches List</a>
</div>
<script th:inline="javascript">
    let form = document.getElementById('stForm'); // Знаходимо нашу форму по ID
    let submitButton = document.getElementById('submitB');
    let validityN = document.getElementById('validityN');
    let inputName = document.getElementById('nameInput');
    let inputAdress = document.getElementById('adressInput');

    function checkValidityName(input) {
        if (input.value.match(/[А-ЩІЇЯЮЯЄ][а-щА-ЩЬьЮюЯяЇїІіЄєҐґ]+(\s[А-ЩЯЮЄЇІ].){2}/)) //Тут робимо RegExp значення з інпута і перевіряємо і відповідно стилізуємо месендж і інпут
        {
            input.classList.add('valid');
            input.classList.remove('invalid');
            validityN.style.opacity = '0';
            validityN.style.height = '0';
            validityN.innerHTML = '';
            return true;
        }
        else
        {
            input.classList.add('invalid');
            input.classList.remove('valid');

            validityN.innerHTML = 'Будь-ласка, використайте формат "Прізвище І. П."'
            validityN.style.opacity = '1';
            validityN.style.height = '10px';
            validityN.style.margin = '-15px -30px 30px';

            return false;
        }
    }

    inputName.addEventListener('keyup', function () {
        console.log(checkValidityName(this));
    });


</script>
</body>
</html>