<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posterity List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>



<div class="container">
    <table class="responsive-table">
        <caption>List Posterity</caption>
        <thead>

        <tr>
            <th scope="col">Id</th>
            <th scope="col">Animal</th>
            <th scope="col">Born</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col" colspan="2">OPTIONS</th>
        </tr>


        </thead>

        <tbody>
        <tr th:each="posterity: ${posterityList}">
            <td th:text="${posterity.id}"></td>
            <td th:text="${posterity.animal.kind}"></td>
            <td th:text="${posterity.born}"></td>
            <td th:text="${posterity.created_at}"></td>
            <td th:text="${posterity.modified_at}"></td>
            <td class="options">
                <a  th:href="@{/ui/posterity/delete/{id}(id=${posterity.id})}">
                    <button class="first">Delete</button>
                </a>
                <a th:href="@{/ui/posterity/showUpdateForm/{id}(id=${posterity.id})}">
                    <button class="last">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>
    <br>

    <div style="text-align: center">
        <a th:href = "@{/ui/posterity/showNewApplicantForm}" class="containerButton">Add</a>
    </div>
</div>
</body>
<script>
    $('button').on('click', function(){
        $('body').toggleClass('open');
    });

</script>

</html>