<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Posterity</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/animated.css}" rel="stylesheet">
</head>
<body style="text-align: center">
<div>
    <div style="text-align: left">

        <div class="alex" onclick="animatedAlexHide()">
            <img th:src="@{/image/alex.png}">
        </div>

        <div class="showAlex" onclick="animatedAlexShow()">
            <div class="circle"></div>
            <div class="circle center"></div>
            <div class="circle"></div>
        </div>

    </div>




    <div class="elementSettings">
        <form action="#" th:action="@{/ui/posterity/update}" th:object="${posterity}"
              method="POST">

            <h1>Update Posterity</h1>

            <table class="edit">
                <tr>
                    <td><label>Id</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{id}" readonly required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Animal</label></td>
                    <td>
                        <div class="input">
                            <select th:field="*{animal}" onclick="checkedInput()" required>
                                <option th:each="animalListId: ${animalListId}"
                                        th:value="${animalListId.id}" th:text="${animalListId.kind}">
                                </option>
                            </select>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Born</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{born}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

            </table>
        </form>

        <br>
        <br>

        <div class="ButtonBack">
            <a th:href="@{/ui/posterity/get/all}" href="#">Back</a>
        </div>

    </div>
</div>
</body>

<script>
    let alex = document.querySelector(".alex");
    let showAlex = document.querySelector(".showAlex");

    function animatedAlexHide(){
        alex.style.animation = "1s linear 0s 1 forwards hiddenAlex";
        showAlex.style.animation = "1s linear 0s 1 forwards visiblePlatform";
    }

    function animatedAlexShow(){
        showAlex.style.animation = "1s linear 0s 1 forwards hiddenPlatform";
        alex.style.animation = "1s linear 0s 1 forwards visibleAlex";
        setTimeout(addAnimatedAlex, 1000);
    }

    function addAnimatedAlex() {
        alex.style.animation = "1s linear 0s infinite alternate slidein";
    }

</script>


</html>
