<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Provider List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>



<div class="container">
    <table class="responsive-table">
        <caption>List Provider</caption>
        <thead>

        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Kind</th>
            <th scope="col">City</th>
            <th scope="col">CooperationStartDate</th>
            <th scope="col">CooperationEndDate</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col" colspan="2">OPTIONS</th>
        </tr>


        </thead>

        <tbody>
        <tr th:each="provider: ${providerList}">
            <td th:text="${provider.id}"></td>
            <td th:text="${provider.name}"></td>
            <td th:text="${provider.kind}"></td>
            <td th:text="${provider.city}"></td>
            <td th:text="${provider.cooperationStartDate}"></td>
            <td th:text="${provider.cooperationEndDate}"></td>
            <td th:text="${provider.created_at}"></td>
            <td th:text="${provider.modified_at}"></td>
            <td class="options">
                <a  th:href="@{/ui/provider/delete/{id}(id=${provider.id})}">
                    <button class="first">Delete</button>
                </a>
                <a th:href="@{/ui/provider/showUpdateForm/{id}(id=${provider.id})}">
                    <button class="last">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>
    <br>

    <div style="text-align: center">
        <a th:href = "@{/ui/provider/showNewApplicantForm}" class="containerButton">Add</a>
    </div>
</div>
</body>
<script>
    $('button').on('click', function(){
        $('body').toggleClass('open');
    });

</script>

</html>