<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Builder</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body style="text-align: center" onclick="checkedTable()">
<div>
    <div>
        <form action="#" th:action="@{/ui/builder/add}" th:object="${builder}"
              method="POST">

            <h1>Add Builder</h1>

            <table class="edit">
                <tr>
                    <td><label>TypeRepairWork</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{typeRepairWork}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>WorkingClass</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{workingClass}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Rating</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{rating}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Employee</label></td>
                    <td>
                        <div class="input">
                            <select th:field="*{employee}" onclick="checkedInput()" required>
                                <option th:each="employeeListId: ${employeeListId}"
                                        th:value="${employeeListId.id}" th:text="${employeeListId.name}">
                                </option>
                            </select>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

            </table>


            <br>
            <br>

            <div class="control">
                <div class="buttonBack">
                    <a th:href = "@{/ui/builder/get/all}" class="containerButton">Back</a>
                </div>
                <button type="submit">Add</button>
            </div>
        </form>


    </div>
</div>
</body>
<script>

    let table = document.querySelector(".edit");
    let check = false;

    function checkedTable(){
        table.setAttribute("class", "edit");
        if(check){
            table.setAttribute("class", "edit border");
        }
        check = false;
    }

    function  checkedInput(){
        check = true;
    }

</script>

</html>