<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animal List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/animated.css}" rel="stylesheet">
</head>
<body>
<div style="text-align: left">

    <div class="alex" onclick="animatedAlexHide()">
        <img src="/image/alex.png">
    </div>

    <div class="showAlex" onclick="animatedAlexShow()">
        <div class="circle"></div>
        <div class="circle center"></div>
        <div class="circle"></div>
    </div>

</div>

<div class="general">
    <a th:href = "@{/ui/employee/showNewForm}">
        &#10010;
    </a>
</div>

<table class="list">
    <thead>

    <tr>
            <th scope="col">Id</th>
            <th scope="col">Person</th>
            <th scope="col">Examination</th>
            <th scope="col">Documents</th>
            <th scope="col">Specialty</th>
            <th scope="col">Form of study</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col" colspan="2">OPTIONS</th>
        </tr>


        </thead>

        <tbody>
        <tr th:each="employee: ${employeeList}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.age}"></td>
            <td th:text="${employee.gender}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.gotAJob}"></td>
            <td th:text="${employee.resigned}"></td>
            <td th:text="${employee.created_at}"></td>
            <td th:text="${employee.modified_at}"></td>
            <td class="options">
                <a  th:href="@{/ui/employee/delete/{id}(id=${employee.id})}">
                    <button class="first">Delete</button>
                </a>
                <a th:href="@{/ui/employee/showUpdateForm/{id}(id=${employee.id})}">
                    <button class="last">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>

</body>
<script>
    let alex = document.querySelector(".alex");
    let showAlex = document.querySelector(".showAlex");

    function animatedAlexHide(){
        alex.style.animation = "1s linear 0s 1 forwards hiddenAlex";
        showAlex.style.animation = "1s linear 0s 1 forwards visiblePlatform";
    }

    function animatedAlexShow(){
        showAlex.style.animation = "1s linear 0s 1 forwards hiddenPlatform";
        alex.style.animation = "1s linear 0s 1 forwards visibleAlex";
        setTimeout(addAnimatedAlex, 1000);
    }

    function addAnimatedAlex() {
        alex.style.animation = "1s linear 0s infinite alternate slidein";
    }

</script>
</html>