<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body style="text-align: center" onclick="checkedTable()">
<div>
    <div>
        <form action="#" th:action="@{/ui/employee/add}" th:object="${employee}"
              method="POST">

            <h1>Add Employee</h1>

            <table class="edit">
                <tr>
                    <td><label>Name</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{name}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Age</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{age}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Gender</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{gender}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Salary</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{salary}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>GotAJob</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{gotAJob}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Resigned</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{resigned}" onclick="checkedInput()" required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

            </table>


            <br>
            <br>

            <div class="control">
                <div class="buttonBack">
                    <a th:href = "@{/ui/employee/get/all}" class="containerButton">Back</a>
                </div>
                <button type="submit">Add</button>
            </div>
        </form>


    </div>
</div>
</body>
<script>

    let table = document.querySelector(".edit");
    let check = false;

    function checkedTable(){
        table.setAttribute("class", "edit");
        if(check){
            table.setAttribute("class", "edit border");
        }
        check = false;
    }

    function  checkedInput(){
        check = true;
    }

</script>

</html>