body{
    background: url("../image/background.png") fixed;
    background-size: cover;
    text-align: center;

}

.alex{
    position: absolute;
    top: -40px;
    left: -38px;
    animation: 1s linear 0s infinite alternate slidein;
}

.alex img{
    cursor: pointer;
    filter: brightness(0.6);
}

.showAlex{
    top:-50px;
    text-align: center;
    position: absolute;
    background: #92722d;
    padding: 5px 5px 10px;
    display: inline-block;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    height: 5px;
}

.showAlex:hover .circle{
    background: #fae0a1;
}

.showAlex .circle{
    border-radius: 100%;
    height: 5px;
    width: 5px;
    background: #4c3c16;
    float: left;
    margin: 5px 5px auto 5px;
}

.showAlex .center{
    margin: 5px 1px 0 1px;
}


.list{
    margin-top: 160px;
    background: #48e62194;
    display: inline-block;
    border: 5px inset #237f23;
    border-collapse: collapse;
    box-shadow: #129112 0 0 20px 12px;
}

.list tbody tr:hover{
    background: #ceffc157;
}

.list tbody:nth-child(2n) tr td{
    background: #48e62157;
}


.list tbody tr td {
    transition: .2s;
}

.list tbody tr td a {
    text-decoration: none;
}

.list tbody tr td:hover{
    background: #bcf8ae7d;
    transition: .2s;
}



.list td, .list th{
    padding: 15px;
    font-size: 20px;
}

.list button{
    width: 75px;
    text-align: center;
    background: #094908;
    color: #b2aeae;
    border: none;
    cursor: pointer;
    padding: 5px;
    box-shadow: #263e87 0 0 9px 0;
    transition-property: box-shadow;
    transition-duration: .5s;
    font-size: 15px;
}

.list button:hover{
    transition: .5s;
}

.list a:first-child:hover button{
    box-shadow: #ff0000 0 0 20px 5px;
    color:#ff6a6a;
}

.list a:last-child:hover button{
    box-shadow: #27ff00 0 0 20px 5px;
    color:#64dd64;
}


.general{
    text-align: right;
    display: inline-block;
    position: absolute;
    top:35px;
    right: 0;
    animation: 1s linear 0s 1 forwards generalAnimated;
}

.general button,
.general a{
    background: #00ff00ad;
    padding: 20px 30px 20px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    border-radius: 100% 0 0 100%;
    box-shadow: #00ff0063 6px 4px 0 3px;
    transition-duration: .5s;
    transition-property: background-color, box-shadow;
    color:black;
    border: none;
    cursor: pointer;
}

.general button:hover,
.general a:hover{
    background: lime;
    transition: .5s;
    box-shadow: #1c8f1c 6px 4px 0 3px;
}

.elementSettings{
    text-align: center;
}

.elementSettings table{
    display: inline-block;
    background: #27ff0054;
    padding: 10px;
    border-collapse: collapse;
}

.elementSettings table td{
    font-size: 40px;
    text-align: left;
    border-bottom: 2px solid black;
    padding: 5px 5px 10px;
}

.elementSettings table td input,
.elementSettings table td select{
    font-size: 35px;
    border: 5px solid #7de675;
    box-shadow: inset #35dd35 0 0 20px 4px;
    outline: none;
    padding: 5px;
    transition-property: box-shadow, border;
    transition-duration: .3s;
}

.elementSettings table td select {
    width: 100%;
}

.elementSettings table td input:focus {
    transition: .3s;
    border: 5px solid #4f8846;
    box-shadow: inset #1b6a0d 0 0 20px 4px;
}

.ButtonBack{
    text-align: right;
    display: inline-block;
    position: absolute;
    bottom:35px;
    left: 0;
    animation: 1s linear 0s 1 forwards generalAnimatedBack;
}

.ButtonBack a{
    background: #fff700ad;
    padding: 20px 30px 20px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    border-radius: 0 100% 100% 0;
    box-shadow: #ffe00063 6px 4px 0 3px;
    transition-duration: .5s;
    transition-property: background-color, box-shadow;
    color: black;
    border: none;
    cursor: pointer;
}

.ButtonBack a:hover{
    background: #fff700;
    transition: .5s;
    box-shadow: #ffe00087 6px 4px 0 3px;
}

td.insert:hover{
    background: #fff7008f !important;
    cursor: pointer;
}

ul.menuList{
    padding: 0;
}

.menuList a{
    text-decoration: none;
    font-size:25px;
    color:#18009f;
}

.menuList a:hover{
    text-decoration: underline;
}