<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animal List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/animated.css}" rel="stylesheet">
</head>
<body>
<div style="text-align: left">

    <div class="alex" onclick="animatedAlexHide()">
        <img src="/image/alex.png">
    </div>

    <div class="showAlex" onclick="animatedAlexShow()">
        <div class="circle"></div>
        <div class="circle center"></div>
        <div class="circle"></div>
    </div>

</div>

<div class="general">
    <a th:href = "@{/ui/medical/showNewForm}">
        &#10010;
    </a>
</div>

<table class="list">
    <thead>

    <tr>
            <th scope="col">Id</th>
            <th scope="col">Veterinarian</th>
            <th scope="col">Vaccination</th>
            <th scope="col">AnimalWasSick</th>
            <th scope="col">AnimalIsSick</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col" colspan="2">OPTIONS</th>
        </tr>


        </thead>

        <tbody>
        <tr th:each="medical: ${medicalList}">
            <td th:text="${medical.id}"></td>
            <td th:text="${medical.veterinarian.employee.name}"></td>
            <td>
                <ol>
                    <li th:each="vaccinationList: ${medical.vaccination}">
                        <span th:text="${vaccinationList}"></span>
                    </li>
                </ol>
            </td>
            <td>
                <ol>
                    <li th:each="animalWasSickList: ${medical.animalWasSick}">
                        <span th:text="${animalWasSickList}"></span>
                    </li>
                </ol>
            </td>
            <td>
                <ol>
                    <li th:each="animalIsSickList: ${medical.animalIsSick}">
                        <span th:text="${animalIsSickList}"></span>
                    </li>
                </ol>
            </td>
            <td th:text="${medical.created_at}"></td>
            <td th:text="${medical.modified_at}"></td>
            <td class="options">
                <a  th:href="@{/ui/medical/delete/{id}(id=${medical.id})}">
                    <button class="first">Delete</button>
                </a>
                <a th:href="@{/ui/medical/showUpdateForm/{id}(id=${medical.id})}">
                    <button class="last">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>

</body>
<script>
    let alex = document.querySelector(".alex");
    let showAlex = document.querySelector(".showAlex");

    function animatedAlexHide(){
        alex.style.animation = "1s linear 0s 1 forwards hiddenAlex";
        showAlex.style.animation = "1s linear 0s 1 forwards visiblePlatform";
    }

    function animatedAlexShow(){
        showAlex.style.animation = "1s linear 0s 1 forwards hiddenPlatform";
        alex.style.animation = "1s linear 0s 1 forwards visibleAlex";
        setTimeout(addAnimatedAlex, 1000);
    }

    function addAnimatedAlex() {
        alex.style.animation = "1s linear 0s infinite alternate slidein";
    }

</script>


</html>