<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animal List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/animated.css}" rel="stylesheet">
</head>
<body>
<div style="text-align: left">

    <div class="alex" onclick="animatedAlexHide()">
        <img src="/image/alex.png">
    </div>

    <div class="showAlex" onclick="animatedAlexShow()">
        <div class="circle"></div>
        <div class="circle center"></div>
        <div class="circle"></div>
    </div>

</div>

<div class="general">
    <a th:href = "@{/ui/animal/showNewForm}">
        &#10010;
    </a>
</div>

<table class="list">
    <thead>

    <tr>
            <th scope="col">Id</th>
            <th scope="col">Animals</th>
            <th scope="col">AccessToAnimals</th>
            <th scope="col">CleaningType</th>
            <th scope="col">Employee</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col" colspan="2">OPTIONS</th>
        </tr>


        </thead>

        <tbody>
        <tr th:each="cleaner: ${cleanerList}">
            <td th:text="${cleaner.id}"></td>
            <td>
                <ol>
                    <li th:each="animalsListIds: ${cleaner.animals}">
                        <span th:text="${animalsListIds.kind}"></span>
                    </li>
                </ol>
            </td>
            <td>
                <ol>
                    <li th:each="accessToAnimalsListIds: ${cleaner.accessToAnimals}">
                        <span th:text="${accessToAnimalsListIds.kind}"></span>
                    </li>
                </ol>
            </td>
            <td>
                <ol>
                    <li th:each="cleaningTypeList: ${cleaner.cleaningType}">
                        <span th:text="${cleaningTypeList}"></span>
                    </li>
                </ol>
            </td>
            <td th:text="${cleaner.employee.name}"></td>
            <td th:text="${cleaner.created_at}"></td>
            <td th:text="${cleaner.modified_at}"></td>
            <td class="options">
                <a  th:href="@{/ui/cleaner/delete/{id}(id=${cleaner.id})}">
                    <button class="first">Delete</button>
                </a>
                <a th:href="@{/ui/cleaner/showUpdateForm/{id}(id=${cleaner.id})}">
                    <button class="last">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>
    <br>

    <div style="text-align: center">
        <a th:href = "@{/ui/cleaner/showNewApplicantForm}" class="containerButton">Add</a>
    </div>
</div>
</body>
<script>
    $('button').on('click', function(){
        $('body').toggleClass('open');
    });

</script>

</html>