<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Cleaner</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/animated.css}" rel="stylesheet">
</head>
<body style="text-align: center">
<div>
    <div style="text-align: left">

        <div class="alex" onclick="animatedAlexHide()">
            <img th:src="@{/image/alex.png}">
        </div>

        <div class="showAlex" onclick="animatedAlexShow()">
            <div class="circle"></div>
            <div class="circle center"></div>
            <div class="circle"></div>
        </div>

    </div>




    <div class="elementSettings">
        <form action="#" th:action="@{/ui/cleaner/update}" th:object="${cleaner}"
              method="POST">

            <h1>Update Cleaner</h1>

            <table class="edit">
                <tr>
                    <td><label>Id</label></td>
                    <td>
                        <div class="input">
                            <input th:field="*{id}" readonly required/>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Animals</label></td>
                    <td>
                        <div class="input">
                            <select multiple th:field="*{animals}" onclick="checkedInput()" required>
                                <option th:each="animalListId: ${animalListId}"
                                        th:value="${animalListId.id}" th:text="${animalListId.kind}">
                                </option>
                            </select>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>AccessToAnimals</label></td>
                    <td>
                        <div class="input">
                            <select multiple th:field="*{accessToAnimals}" onclick="checkedInput()" required>
                                <option th:each="animalListId: ${animalListId}"
                                        th:value="${animalListId.id}" th:text="${animalListId.kind}">
                                </option>
                            </select>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>CleaningType</label></td>
                    <td>
                        <div class="input">
                            <select multiple th:field="*{cleaningType}" onclick="checkedInput()" required>
                                <option value="Test">Test</option>
                            </select>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Employee</label></td>
                    <td>
                        <div class="input">
                            <select th:field="*{employee}" onclick="checkedInput()" required>
                                <option th:each="employeeListId: ${employeeListId}"
                                        th:value="${employeeListId.id}" th:text="${employeeListId.name}">
                                </option>
                            </select>
                            <div class="border-line"></div>
                        </div>
                    </td>
                </tr>

            </table>

        </form>
        <br>
        <br>

        <div class="control">
            <div class="buttonBack">
                <a th:href = "@{/ui/cleaner/get/all}" class="containerButton">Back</a>
            </div>
            <button type="submit">Add</button>
        </div>
        </form>


    </div>
</div>
</body>
<script>

    let table = document.querySelector(".edit");
    let check = false;

    function checkedTable(){
        table.setAttribute("class", "edit");
        if(check){
            table.setAttribute("class", "edit border");
        }
        check = false;
    }

    function  checkedInput(){
        check = true;
    }

</script>

</html>