<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Feed List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>



<div class="container">
    <table class="responsive-table">
        <caption>List Feed</caption>
        <thead>

        <tr>
            <th scope="col">Id</th>
            <th scope="col">Kind</th>
            <th scope="col">DateOfArrival</th>
            <th scope="col">AmountOfFeed</th>
            <th scope="col">Price</th>
            <th scope="col">Provider</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col" colspan="2">OPTIONS</th>
        </tr>


        </thead>

        <tbody>
        <tr th:each="feed: ${feedList}">
            <td th:text="${feed.id}"></td>
            <td th:text="${feed.kind}"></td>
            <td th:text="${feed.dateOfArrival}"></td>
            <td th:text="${feed.amountOfFeed}"></td>
            <td th:text="${feed.price}"></td>
            <td th:text="${feed.provider.name}"></td>
            <td th:text="${feed.created_at}"></td>
            <td th:text="${feed.modified_at}"></td>
            <td class="options">
                <a  th:href="@{/ui/feed/delete/{id}(id=${feed.id})}">
                    <button class="first">Delete</button>
                </a>
                <a th:href="@{/ui/feed/showUpdateForm/{id}(id=${feed.id})}">
                    <button class="last">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>
    <br>

    <div style="text-align: center">
        <a th:href = "@{/ui/feed/showNewApplicantForm}" class="containerButton">Add</a>
    </div>
</div>
</body>
<script>
    $('button').on('click', function(){
        $('body').toggleClass('open');
    });

</script>

</html>