<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Feed</title>
    <link  th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <div class="segment">
        <h1>ADD FEED</h1>
    </div>
    <div class="updateForm" style="margin-bottom: 150px">
        <form action="#" th:action="@{/ui/feed/add}" th:object="${feed}"
              method="POST">
            <label for="num1">Kind</label>
            <input id="num1" th:field="*{kind}"  required>
            <label for="num2">Date Of Arrival</label>
            <input id="num2" th:field="*{dateOfArrival}"  required>
            <label for="num3">Amount Of Feed</label>
            <input id="num3" th:field="*{amountOfFeed}"  required>
            <label for="num4">Price</label>
            <input id="num4" th:field="*{price}"  required>
            <label for="num5">Civil</label>
            <div id="num5">
                <label for="id">Name</label>
                <select id="id" style="transition: 0.5s" th:field="*{provider.id}">
                    <option th:each="providerIdList: ${providerIdList}"
                            th:value="${providerIdList.id}" th:text="${providerIdList.name}">
                    </option>
                </select>
            </div>
            <button type="submit" class="newBtn" style="transition: 0.5s; padding: 0; font-size: 0.8em">SAVE</button>
        </form>
    </div>
    <hr>

    <a th:href="@{/ui/feed/get/all}">
        <button class="backBtn" style="padding: 0">Back</button>
    </a>
    <script th:inline="javascript">
        let listElem = document.querySelectorAll(".dropItem");
        function kl(obj) {
            listElem.forEach(elem => { elem.style.display = "none";});

            if(obj.getAttribute("data-status") === "on") {
                document.querySelectorAll(".btnDropMenu").
                forEach(elem => { elem.setAttribute("data-status", "off"); })
                return;
            }

            listElem.forEach(elem => {
                if(elem.getAttribute("data-id-drop") === obj.getAttribute("data-id")) {
                    elem.style.display = "grid";
                    elem.style.position = "absolute";
                    elem.style.gridTemplateColumns = "auto auto";
                    obj.setAttribute("data-status", "on");
                }else{
                    document.querySelectorAll(".btnDropMenu").
                    forEach(elem => { if(elem != obj) elem.setAttribute("data-status", "off"); })
                }
            })
        }
    </script>
</body>
</html>