<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Feed</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body style="text-align: center" onclick="checkedTable()">
<div>
    <div>
        <form action="#" th:action="@{/ui/feed/update}" th:object="${feed}"
              method="POST">

            <h1>Add Feed</h1>

                <table class="edit">
                    <tr>
                        <td><label>Id</label></td>
                        <td>
                            <div class="input">
                                <input th:field="*{id}" onclick="checkedInput()" readonly required/>
                                <div class="border-line"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Kind</label></td>
                        <td>
                            <div class="input">
                                <input th:field="*{kind}" onclick="checkedInput()" required/>
                                <div class="border-line"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>DateOfArrival</label></td>
                        <td>
                            <div class="input">
                                <input th:field="*{dateOfArrival}" onclick="checkedInput()" required/>
                                <div class="border-line"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>AmountOfFeed</label></td>
                        <td>
                            <div class="input">
                                <input th:field="*{amountOfFeed}" onclick="checkedInput()" required/>
                                <div class="border-line"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Price</label></td>
                        <td>
                            <div class="input">
                                <input th:field="*{price}" onclick="checkedInput()" required/>
                                <div class="border-line"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Provider</label></td>
                        <td>
                            <div class="input">
                                <select th:field="*{provider}" onclick="checkedInput()" required>
                                    <option th:each="providerListId: ${providerListId}"
                                            th:value="${providerListId.id}" th:text="${providerListId.name}">
                                    </option>
                                </select>
                                <div class="border-line"></div>
                            </div>
                        </td>
                    </tr>

            </table>
            <br>
            <br>
            <div class="control">
                <div class="buttonBack">
                    <a th:href = "@{/ui/feed/get/all}" class="containerButton">Back</a>
                </div>
                <button type="submit">Update</button>
            </div>
        </form>

    </div>
</div>
</body>
<script>
    let table = document.querySelector(".edit");
    let check = false;

    function checkedTable(){
        table.setAttribute("class", "edit");
        if(check){
            table.setAttribute("class", "edit border");
        }
        check = false;
    }

    function  checkedInput(){
        check = true;
    }
</script>

</html>