<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Animal List</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/animated.css}" rel="stylesheet">
</head>
<body>
<div style="text-align: left">

    <div class="alex" onclick="animatedAlexHide()">
        <img src="/image/alex.png">
    </div>

    <div class="showAlex" onclick="animatedAlexShow()">
        <div class="circle"></div>
        <div class="circle center"></div>
        <div class="circle"></div>
    </div>

</div>

<div class="general">
    <a th:href = "@{/ui/veterinarian/showNewForm}">
        &#10010;
    </a>
</div>

<table class="list">
    <thead>

    <tr>
            <th scope="col">Id</th>
            <th scope="col">Animals</th>
            <th scope="col">AccessToAnimals</th>
            <th scope="col">Responsibilities</th>
            <th scope="col">Employee</th>
            <th scope="col">Education</th>
            <th scope="col">CreatedAt</th>
            <th scope="col">ModifiedAt</th>
            <th scope="col" colspan="2">OPTIONS</th>
        </tr>


        </thead>

        <tbody>
        <tr th:each="veterinarian: ${veterinarianList}">
            <td th:text="${veterinarian.id}"></td>
            <td>
                <ol>
                    <li th:each="animalsListIds: ${veterinarian.animals}">
                        <span th:text="${animalsListIds.kind}"></span>
                    </li>
                </ol>
            </td>
            <td>
                <ol>
                    <li th:each="accessToAnimalsListIds: ${veterinarian.accessToAnimals}">
                        <span th:text="${accessToAnimalsListIds.kind}"></span>
                    </li>
                </ol>
            </td>
            <td>
                <ol>
                    <li th:each="responsibilitiesList: ${veterinarian.responsibilities}">
                        <span th:text="${responsibilitiesList}"></span>
                    </li>
                </ol>
            </td>
            <td th:text="${veterinarian.employee.name}"></td>
            <td th:text="${veterinarian.education}"></td>
            <td th:text="${veterinarian.created_at}"></td>
            <td th:text="${veterinarian.modified_at}"></td>
            <td class="options">
                <a  th:href="@{/ui/veterinarian/delete/{id}(id=${veterinarian.id})}">
                    <button class="first">Delete</button>
                </a>
                <a th:href="@{/ui/veterinarian/showUpdateForm/{id}(id=${veterinarian.id})}">
                    <button class="last">Edit</button>
                </a>
            </td>
        </tr>
        </tbody>

    </table>

</body>
<script>
    let alex = document.querySelector(".alex");
    let showAlex = document.querySelector(".showAlex");

    function animatedAlexHide(){
        alex.style.animation = "1s linear 0s 1 forwards hiddenAlex";
        showAlex.style.animation = "1s linear 0s 1 forwards visiblePlatform";
    }

    function animatedAlexShow(){
        showAlex.style.animation = "1s linear 0s 1 forwards hiddenPlatform";
        alex.style.animation = "1s linear 0s 1 forwards visibleAlex";
        setTimeout(addAnimatedAlex, 1000);
    }

    function addAnimatedAlex() {
        alex.style.animation = "1s linear 0s infinite alternate slidein";
    }

</script>


</html>